
.weatherBg{
  
  height:50vh;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
}
.heading{
  color:white;
  font-weight: 600;
}
.weatherResultBox{
  margin:auto;
  width:500px;
  height:300px;
  backdrop-filter: blur(5px);
  border-radius:2rem;
  transition:all 200ms ease;
}
.weatherResultBox:hover{
  width:530px;
  height:330px;
}
.weatherIcon{
  margin-top:2rem;
  width:100px;
  height:100px;
}
.weatherCity{
  font-size:35px;
}
.weatherTemp{
  font-size:55px;
  font-weight:500;
}
